.footer__container {
  width: 100%;
  height:auto;
  
 bottom:0px;

  background: #252f3d;
 

  display:flex;
}
.footer__main {
  align-self: stretch;


  border-radius: 4px;
 
  align-items: center;
  gap: 156px;
  display: inline-flex;
}
.footer__copy {
  color: white;
  padding:3.9px;
  font-size: 16px;
  font-family: Manrope;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 22.4px;
  word-wrap: break-word;
}
.footer__line {
  width: 4px;
  height: 0px;
  transform: rotate(90deg);
  transform-origin: 0 0;
  border: 1px white solid;
}
.footer__support{
    color: white;
     font-size: 16px;
      font-family: Manrope;
       font-weight: 400;
        text-transform: lowercase; 
        line-height: 22.40px;
         word-wrap: break-word;
}
.footer__container-second{
    align-self: stretch;
     justify-content: flex-start;
      align-items: center; 
      gap: 16px;
       display: inline-flex
}
.footer__one{
    width: 16px;
     height: 16px;
      position: relative
}
.bx-lock-alt{
  display:absolute;
  padding: 6px;
}
.footer__container-two{
    text-align: center;
     color: white;
      font-size: 16px;
       font-family: Manrope;
        font-weight: 400;
         text-transform: capitalize;
          line-height: 24px;
           word-wrap: break-word;
}