.info {
    display:flex;
    position: relative;
    width: 50%; 
     height: 100%;
     top: -738px;
     left: 598px;
      flex-direction: row;
       justify-content: flex-start;
        align-items: flex-start;
         gap: 32px;
          
}
.info__main{
    align-self: stretch"
}
.info__main-time{
    color: #2C7EF8;
     font-size: 32px; 
     font-family: Manrope;
      font-weight: 400; 
      text-transform: capitalize;
       line-height: 44.80px;
        word-wrap: break-word;
}
.info__main-price{
    color: black;
     font-size: 32px;
      font-family: Manrope;
       font-weight: 400;
        text-transform: capitalize;
         line-height: 44.80px;
          word-wrap: break-word;
}
.info__main-each{
    color: #2C7EF8;
     font-size: 32px; 
     font-family: Manrope; 
     font-weight: 400; 
     text-transform: capitalize;
      line-height: 44.80px;
       word-wrap: break-word;
}
.info__main-name {
    color: black;
     font-size: 32px;
      font-family: Manrope;
       font-weight: 400; 
       text-transform: capitalize; 
       line-height: 44.80px;
        word-wrap: break-word;
}
.info__second{
    width: 134px;
     height: 134px;
      left: 0px;
       top: 102px; 
       position: absolute;
        background: #2C7EF8;
         border-radius: 10px;
}
.info__second-img{
    width: 134px;
     height: 134px;
      left: 0px;
       top: 0px;
        position: absolute;
         border-radius: 10px;
}