.nav__second{ 
    width: 100%;
     height: 100%;
      padding-left: 127px; 
      padding-right: 127px;
       padding-top: 30px;
        padding-bottom: 30px;
         background: white;
          justify-content: space-between;
           align-items: center;
            display: inline-flex;

}
.nav__second-img{
    width: 192px;
     height: 36px;
}
.nav__second-vrs{
    width: 100%;
     height: 100%;
      position: relative;
}
.nav__second-mcAfee{
    width: 88px;
     height: 32px;
      left: 555px;
       top: -17px; 
       position: absolute;
}
.nav__second-norton{
    width: 88px;
    height: 32px;
     left: 695px;
      top: -17px; 
      position: absolute;
}