
  @import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
  
html, body, 
h1, h2, h3, h4, h5, h6, p, ul, li,
 form, * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    
    
  
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}






a {
    text-decoration: none;
}
